@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "IBMPlexSansKR-Regular";
}

.gif-img {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.pointer {
  cursor: pointer;
}

.active {
  background-color: black;
  color: white;
}

p {
  margin-bottom: 1rem;
}

.text-red {
  color: rgb(238, 44, 44);
}

.text-blue {
  color: rgb(60, 151, 255);
}

.text-green {
  color: rgb(70, 219, 56);
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 2em;
}

/* 슬라이드 디스플레이 버튼 */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "가로";
  height: 90%;
  width: 48%;
  left: 2%;
  border-radius: 20px;
  background-color: white;
  color: green;
  display: grid;
  align-content: center;
  justify-content: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 -1px 0 0 rgba(0, 0, 0, 0.1) inset,
    0 -1.31em 1.31em -1.31em rgba(0, 0, 0, 0.3) inset,
    0 0 1px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.slider:after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border-radius: 1.71em;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.06),
    rgba(0, 0, 0, 0.1)
  );
  z-index: -1;
}

.switch input:checked + .slider {
  background-color: #21f3a3;
  color: #fff;
}

.switch input:checked + .slider:before {
  content: "세로";
  transform: translateX(100%);
  color: red;
}

.switch input {
  display: none;
}

.bg-boot {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -113px -10px;
}
.bg-next {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -10px -113px;
}
.bg-webpack {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -105px -113px;
}
.bg-react {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -208px -10px;
}
.bg-nginx {
  width: 83px;
  height: 83px;
  background: url("/skill_sprites.png") -10px -10px;
}
.bg-express {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -208px -105px;
}
.bg-node {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -10px -208px;
}
.bg-graph {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -105px -208px;
}
.bg-recoil {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -200px -208px;
}
.bg-type {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -303px -10px;
}
.bg-aws {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -303px -105px;
}
.bg-styled {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -303px -200px;
}
.bg-query {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -10px -303px;
}
.bg-expo {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -105px -303px;
}
.bg-figma {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -200px -303px;
}
.bg-story {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -295px -303px;
}
.bg-tail {
  width: 75px;
  height: 75px;
  background: url("/skill_sprites.png") -398px -10px;
}
