@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "IBMPlexSansKR-Regular";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.active {
  background-color: black;
  color: white;
}

p {
  margin-bottom: 1rem;
}

.text-red {
  color: rgb(238, 44, 44);
}
